{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<section class="page-section about-heading">
  <div class="container">
      <p class="gap-prod" style="margin-top:160px;"></p>
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Frequently asked questions</span>
            </h2>


          <b>There are lots of bees hanging outstide the hive, what do I do?</b> <br>

               In the summer time a beehive can get hot, bees will hang outside
                 to cool down and many will hang out at the entrance and cool down the hive by fanning the entrance.<br><br>

           <b>How far do bees forage for pollen and nectar?</b><br>

             Bees will forage approximately 3km around their area.<br><br>

           <b>What happens if my bees swarm?</b><br>

             Yep Bees will manage everything, if your hive swarms and vacates your property, and it can
               happen, it’s Yep Bees responsibility to replace the bees at our cost.<br><br>

           <b>Can I help you with the bees at our place?</b><br>

             If the timing is right and you are around when we come we would be happy to support you to get involved with us.<br><br>

           <b>Do you harvest all the honey?</b><br>

             We are all about the bees, so we prefer to take only enough honey to meet our commitment
               to you, the rest can stay with the bees to keep them well fed through winter.<br><br>

           <b>Is the honey harvested really ours?</b><br>

             We take the time to individually harvest honey from individual properties
               so we ensure the honey from your property ends up back with you. If your
               beehive doesn’t produce enough honey for your plan, you are still garunteed
               raw all natural honey from one of our other hives.<br><br>

           <b>What about disease control?</b><br>

             Disease control is one of our most important responsibilities as beekeepers.
               All beekeepers need to be able to recognise the signs of disease and know what
               to do. I also have my Disease
               Elimination Conformity Agreement (DECA) which allows me to legally check and sign
               off inspected beehives<br><br>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
