{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'yepbees/img/intro.jpg'%}" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Yep bees Ltd.</span>
          <span class="section-heading-lower">What we do</span>
        </h2>
        <p class="mb-3">Yep Bees is dedicated to protecting the bee population by helping customers host beehives on their property.
                        Based in Christchurch Yep Bees emphases on supporting sustainable beekeeping with fully managed beehive rentals in Canterbury.
        </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" style="font-size:15px;"href="{% url 'about' %}">About</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Our Promise</span>
            <span class="section-heading-lower">To You</span>
          </h2>
          <p class="mb-0">We promise to deliver a hive that is healthy, well kept and produces honey and polination for your garden.
</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
