{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<section class="page-section about-heading">
  <div class="container">
      <p class="gap-prod" style="margin-top:160px;"></p>
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Yep Bees Ltd – Terms and Conditions of Contract</span>
            </h2>

  <p>
    The hive or hives contract is for 1 year at the cost of the specific option
    chosen per month and the Renter will pay by automatic payment on the 1st of
    the month for that month.
    <br><br>

    The renter agrees to inform Stephen (Yep Bees’ nominated representative) if
     they notice any problems with the beehive and to ensure that it is not damaged.
    <br><br>

    Stephen will look after all aspects of the hive and associated costs of such
    beehive, e.i. food, voroa strips, etc.
    <br><br>

    Either party can give two weeks notice for the removal of the beehive and
    cancellation of the contract and payment.
    <br><br>

    Yep Bees Ltd has the rights to claim for damages to the beehive.
    <br><br>

    Yep Bees Ltd is not responsible for anyone who is stung by a bee and any
    reaction that they may have.
    <br><br>

    At the end of the 12 month contact the specified amount of honey in the
    chosen option will be given in 1kg pottles to the renter no matter how the
    hive has performed.
    <br><br>

  </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
