{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<section class="page-section about-heading">
  <div class="container">
      <p class="gap-prod" style="margin-top:160px;"></p>
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Yep Bees Ltd – Terms and Conditions of Contract</span>
            </h2>

  <p>
    Yep Bees Ltd (YBL) and the Bee Hive Renter (BHR) will sign a twelve month contract prior to delivery of any bee hives to site.<br><br>

    The BHR confirms they are authorised to allow YBL to place hives on the property stated in the contract.<br><br>

    YBL will provide and place hive(s) in the most appropriate position as determined by YBL and in consultation with the BHR.<br><br>

    The BHR will allow access to the property at all reasonable times to allow management of the hive(s) to take place.<br><br>

    The bee hive(s) including bees, frames and honey and any associated equipment placed on the property remain the sole property of YBL.<br><br>

    YBL is solely responsible for entering in to and managing all aspects of the hive(s).
    YBL will from time to time invite the BHR join, but this will be dependent on task to be carried out.<br><br>

   YBL shall not be liable for any damage or injury caused to the property, persons
   or animals as a consequence of the bee hive(s) being on the property.<br><br>

    The BHR indemnifies YBL against any claim or liability that might arise under this agreement.<br><br>

    The agreement commences on the date the bee hive(s) are placed on the BHR property.<br><br>

    The term of the agreement shall continue for a minimum period of one year from the commencement date.<br><br>

    The agreement will automatically renew until the BHR chooses to cancel it.<br><br>

    YBL have the right to remove hive(s) in the case of disease or any other
    unforseen event (not caused by the BHR).  The first priority will be to
    immediately replace the hive(s), like for like, however if under exceptional
    circumstances this could not occur then YBL will deem the contract terminated
    and refund the remaining months of the contract term.<br><br>

    Should the BHR decide they require the bee hive(s) to be removed before the
    contract term then YBL requires at least one months notice.  There will be no
    refund offered for that month and a refund will be issued for the remaining months.
    The amount of honey given will be at YBL’s discretion.
   The BHR agrees to pay a deposit prior to delivery of hive(s) and then either the
   balance of the full fee on delivery or in twelve monthly payments.<br><br>

   YBL will harvest and supply the BHR the agreed weight of filtered raw honey as outlined in the twelve month contract.<br>
  </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
